* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(226, 226, 226, 0);

}


body{
    font-family: Arial;
    margin: 0; 
    padding: 0; 
    background-image: url(./fondo.gif);
    padding: auto;
    
}



.mensaje {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.9); /* Fondo oscuro semitransparente */
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 150px;
} 



@media (min-width: 769px) {

.mensaje {
      display: block; 
    }
}


.nav{
    background-color: red;

    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__title{
    color: #fff;
    grid-area: title;
}


.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #000;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}

.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    gap: .6rem;

    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}







main {
    padding: 2rem 1rem;
}

section {
    margin-bottom: 2rem;
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ff4757;
    margin-bottom: 1rem;
}

.funko-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.funko-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.funko-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.funko-item p {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #333;
}

.funko-item:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    color: #ff4757;
}

form input, form textarea, form button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input:focus, form textarea:focus {
    border-color: #ff4757;
    outline: none;
}

form button {
    background: #ff4757;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.7rem;
    margin-top: 1rem;
    transition: background 0.3s;
}

form button:hover {
    background: #ff6f61;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para la lista de productos */
.funko-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.funko-item {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px;
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 20px; 
}

.funko-item img {
    max-width: 100%;
    border-radius: 10px;
}

.funko-item p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}



/* Estilos para la descripción de producto */




.product-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    text-align: left;
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #c23d2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #cc2e2e;
}
    .product-container {
        padding: 20px;
        margin: 20px auto;
    }

    .product-details {
        margin-left: 0;
        text-align: center;
    }

    .product-image img {
        max-width: 100%;
        margin-bottom: 20px;
    }


    .back-to-home {
        text-align: center;
        margin-top: 10px;
    }
    
    .back-to-home button {
        background-color: #f61414; /* Verde */
        color: white;
        padding: 10px 80px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .back-to-home button:hover {
        background-color: #ef5555;
    }




/* En esta parte va a estar el carrusel*/


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; 
    margin: 0; 
    padding: 0; 
}

.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    height: 100%; 
}

.elemento {
    flex: 0 0 100%; 
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.elemento img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    margin: 0; 
    padding: 0; 
}
.advertencia_imagen {
    max-width: 100%; 
    max-height: 70%; 
    display: block; 
    margin: 0 auto; }



/*Seccion del carrito de ventas*/
.cart {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.cart-item img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.item-details {
    flex: 1;
    margin-left: 10px;
}

.item-details h2 {
    margin: 0 0 5px;
    color: #333;
    font-size: 1.2rem;
}

.item-details p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9rem;
}

.item-details input {
    width: 50px;
}

.remove-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

.remove-btn:hover {
    background-color: #c0392b;
}

.total {
    text-align: right;
    margin-top: 20px;
}

.total h2 {
    margin: 0 0 10px;
    color: #333;
    font-size: 1.2rem;
}

.checkout-btn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.checkout-btn:hover {
    background-color: #27ae60;
}

@media (max-width: 800px) {
    .cart {
        width: 95%;
        padding: 5px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item img {
        margin-bottom: 10px;
    }

    .item-details {
        margin-left: 0;
    }

    .remove-btn {
        align-self: flex-end;
        padding: 5px 10px;
        margin-top: 10px;
    }

    .total {
        text-align: center;
    }
}
